:root {
	/* color */
	--color-pink: #f78379;
	--color-grey: #666565;
	--color-light-grey: #7b7b7b;
	--color-semi-dark-grey: #4a4a4a;
	--color-dark-grey: #424242;

	/* font size */
	--font-xlarge: 28px;
	--font-large: 22px;
	--font-medium: 16px;
	--font-small: 15px;
	--font-xsmall: 14px;
	--font-micro: 11px;

	/* font weight */

	--weight-regular: 400;

	/* font */
	--font-sans: 'Nanum Pen Script', cursive;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--font-sans);
}

html {
	overflow-x: hidden;
	/* background: transparent radial-gradient(closest-side at 50% 50%, #f2f2f2 0%, #dbe4e8 100%) 0% 0% no-repeat padding-box; */
	background: transparent radial-gradient(closest-side at 50% 50%, #f9fdff 0%, #ddf5ff 100%) 0% 0% no-repeat padding-box;
}
body {
	margin: 0;
	font-family: var(--font-sans);
	font-weight: 300;
	cursor: default;
	letter-spacing: 0px;
	/* overflow-x: hidden; */
	text-align: center;
}
#root {
	width: 100vw;
	height: 100vh;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
}

/* main Page */
.App {
	position: relative;
	width: 720px;
	margin: 170px auto;
}

.main_title {
	width: 424px;
	margin: 26px auto;
	color: #707070;
	font-size: 65px;
}

.user {
	background-color: #ffffff6e;

	box-shadow: 0px 3px 15px #00000029;
	padding: 20px 70px 32px;
	border-radius: 40px;
	z-index: 999;
}

.user_title {
	text-align: center;
	color: #4d4d4d;
	opacity: 1;
	font-size: 65px;
	margin: 20px 0 13px;
}

.entrance_cont {
	display: flex;
	justify-content: flex-end;
	text-align: end;
}

input {
	width: 183px;
	height: 25px;
	border: none;
	background-color: #ffffff;
	opacity: 1;
}

input:focus {
	outline: none;
}

.input_box {
	margin-right: 18px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.input_title {
	margin-right: 18px;
	color: #4d4d4d;
	font-size: 25px;
}
.user_login_cont > .input_box > .input_title.password {
	margin: 13px 18px 10px 0;
}

.input_title.email {
	letter-spacing: 0.93px;
	margin-right: 20px;
}

.btn {
	width: 100px;
	height: 32px;
	text-align: center;
	font-size: 25px;
	background: #ffffff;
	border-radius: 10px;
	margin: 20px 18px 0 auto;
}

.input_title.password {
	letter-spacing: 1.63px;
	margin: 10px 18px 10px 0;
}

.input_title.passwordConfirm {
	letter-spacing: 0px;
	font-size: 18px;
}

/*  */
/*  */
.easy_login_cont {
	display: flex;
	justify-content: space-between;
	width: 520px;
	margin: auto;
}

.easy_log {
	background-color: #ffffff;
	border-radius: 10px;
	width: 150px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	margin-top: 42px;
	font-size: 25px;
}

.easy_log.naver > span {
	color: #3cb633;
}

.easy_log.google > span {
	color: #4285f4;
}

#red {
	color: #ea4335;
}

#yel {
	color: #fbbc05;
}

#gre {
	color: #34a853;
}

.easy_log.kakao > span {
	color: #fae100;
}

.seed_cont {
	position: relative;
}

.path1,
.path2,
.seed {
	position: absolute;
	left: 70px;
}

.path1 {
	top: -60px;
	z-index: -1;
}

.path2 {
	top: 50px;
	z-index: -9;
}

.seed {
	top: 166px;
	left: 332px;
}

/* intro 1 */
.blank {
	height: 360px;
}

.main_title {
	position: absolute;
	top: -80px;
	left: 50%;
	transform: translateX(-50%);
}

.user_menu_cont {
	position: absolute;
	display: flex;
	align-items: center;
	top: -170px;
	right: 50px;
}

.user_menu_cont > div {
	margin: 22px 11px;
}

/*  */
.watering_btn {
	transform: translateY(30px);
	outline: none;
	border: none;
	width: 100px;
	height: 32px;
	text-align: center;
	font-size: 25px;
	background: #ffffff;
	border-radius: 10px;
	margin: 20px 18px 0 auto;
	opacity: 0.8;
}

.water_cont {
	display: flex;
	justify-content: center;
}

.water {
	font-size: 30px;
	color: #707070;
	margin: 7.5px;
	margin-top: 100px;
}

.water > img {
	display: block;
}

.select {
	border: 1px solid #f78379;
}

.watering {
	margin: 40px auto;
}
.sel_watering {
	position: absolute;
	transform: translate(-50%, 30px);
}
